In [1]:
import pandas as pd

In [2]:
sms = pd.read_csv('./SMSSpamCollection',sep = '\t', header=None)

In [3]:
sms.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
sms.shape

(5572, 2)

In [5]:
sms.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
# 此处需要将文本数据转变为向量数据
# 文本特征提取，并将其转变为向量
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
tf = TfidfVectorizer()

In [10]:
data = sms[1]

In [13]:
data.shape

(5572,)

In [14]:
tf.fit(data)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [15]:
# 得到一个稀松矩阵
text_vector =  tf.fit_transform(data)

In [16]:
text_vector

<5572x8713 sparse matrix of type '<class 'numpy.float64'>'
	with 74169 stored elements in Compressed Sparse Row format>

In [17]:
text_vector.data

array([0.14787418, 0.23001811, 0.32647199, ..., 0.57853621, 0.42359036,
       0.55767161])

In [18]:
y = sms[0]

In [20]:
from sklearn.naive_bayes import MultinomialNB

In [21]:
mNB = MultinomialNB()

In [22]:
mNB.fit(text_vector,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [23]:
# 将原短信通过合并来创建新的短信，从而进行测试

In [26]:
x_test = ["Ahhh. Work. I vaguely remember that! What does it feel like? Lol.I'm back &amp; we're packing the car now, I'll let you know if there's room",
         "Your free ringtone is waiting to be collected. Simply text the password 'MIX' to 85069 to verify. Get Usher and Britney. FML, PO Box 5249, MK17 92H. 450Ppw 16.GENT! We are trying to contact you. Last weekends draw shows that you won a £1000 prize GUARANTEED. Call 09064012160. Claim Code K52. Valid 12hrs only. 150ppm",
         "Yup i thk cine is better cos no need 2 go down 2 plaza mah.Please call our customer service representative on FREEPHONE 0808 145 4742 between 9am-11pm as you have WON a guaranteed £1000 cash or £5000 prize!"]
# 首先将这些数据转换成向量
x_test_vector = tf.transform(x_test)
mNB.predict(x_test_vector)

array(['ham', 'spam', 'spam'], dtype='<U4')