In [1]:
import numpy as np
import pandas as pd
from pandas import Series ,DataFrame
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
# 读取文件中的adult.txt文件，使用KNN算法训练模型，然后使用模型预测一个人的年收入是否大于50

In [3]:
adults = pd.read_csv('./adults.txt')
adults.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
adults.shape

(32561, 15)

In [6]:
adults.columns

Index(['age', 'workclass', 'final_weight', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'salary'],
      dtype='object')

In [19]:
# 挑选出我认为对年收入有影响的属性
target = adults['salary']
data = adults[['age', 'workclass','education', 'race','sex','hours_per_week','native_country']]

In [20]:
data.dtypes

age                int64
workclass         object
education         object
race              object
sex               object
hours_per_week     int64
native_country    object
dtype: object

In [21]:
# 将字符串属性转变成整型
workclass = data['workclass'].unique()
workclass

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [22]:
np.argwhere(workclass == 'State-gov')[0,0]+1

1

In [23]:
def convertstr2int(item):
    return np.argwhere(workclass == item)[0,0]+1

In [25]:
data.dtypes

age                int64
workclass          int64
education         object
race              object
sex               object
hours_per_week     int64
native_country    object
dtype: object

In [29]:
data.head(5)

   age  workclass  education   race     sex  hours_per_week native_country
0   39          1  Bachelors  White    Male              40  United-States
1   50          2  Bachelors  White    Male              13  United-States
2   38          3    HS-grad  White    Male              40  United-States
3   53          3       11th  Black    Male              40  United-States
4   28          3  Bachelors  Black  Female              40           Cuba

In [24]:
data['workclass'] = data['workclass'].map(convertstr2int)
data.head

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

<bound method NDFrame.head of        age  workclass     education                race     sex  \
0       39          1     Bachelors               White    Male
1       50          2     Bachelors               White    Male
2       38          3       HS-grad               White    Male
3       53          3          11th               Black    Male
4       28          3     Bachelors               Black  Female
5       37          3       Masters               White  Female
6       49          3           9th               Black  Female
7       52          2       HS-grad               White    Male
8       31          3       Masters               White  Female
9       42          3     Bachelors               White    Male
10      37          3  Some-college               Black    Male
11      30          1     Bachelors  Asian-Pac-Islander    Male
12      23          3     Bachelors               White  Female
13      32          3    Assoc-acdm               Black    Male
14      40          3     Assoc-voc  Asian-Pac-Islander    Male
15      34          3       7th-8th  Amer-Indian-Eskimo    Male
16      25          2       HS-grad               White    Male
17      32          3       HS-grad               White    Male
18      38          3          11th               White    Male
19      43          2       Masters               White  Female
20      40          3     Doctorate               White    Male
21      54          3       HS-grad               Black  Female
22      35          4           9th               Black    Male
23      43          3          11th               White    Male
24      59          3       HS-grad               White  Female
25      56          5     Bachelors               White    Male
26      19          3       HS-grad               White    Male
27      54          6  Some-college  Asian-Pac-Islander    Male
28      39          3       HS-grad               White    Male
29      49          3       HS-grad               White    Male
...    ...        ...           ...                 ...     ...
32531   30          6     Bachelors  Asian-Pac-Islander  Female
32532   34          3     Doctorate               White    Male
32533   54          3     Bachelors  Asian-Pac-Islander    Male
32534   37          3  Some-college               White  Female
32535   22          3          12th               Black    Male
32536   34          3     Bachelors               White  Female
32537   30          3       HS-grad               Black    Male
32538   38          3     Bachelors               Black  Female
32539   71          6     Doctorate               White    Male
32540   45          1       HS-grad               White  Female
32541   41          6       HS-grad               Black  Female
32542   72          6       HS-grad               White    Male
32543   45          5    Assoc-acdm               White  Female
32544   31          3       Masters               Other  Female
32545   39          5    Assoc-acdm               White  Female
32546   37          3    Assoc-acdm               White  Female
32547   43          3       HS-grad               White    Male
32548   65          2   Prof-school               White    Male
32549   43          1  Some-college               White  Female
32550   43          2  Some-college               White    Male
32551   32          3          10th  Amer-Indian-Eskimo    Male
32552   43          3     Assoc-voc               White    Male
32553   32          3       Masters  Asian-Pac-Islander    Male
32554   53          3       Masters               White    Male
32555   22          3  Some-college               White    Male
32556   27          3    Assoc-acdm               White  Female
32557   40          3       HS-grad               White    Male
32558   58          3       HS-grad               White  Female
32559   22          3       HS-grad               White    Male
32560   52          7       HS-grad               White  Female

       hours_per_week native_country
0                  40  United-States
1                  13  United-States
2                  40  United-States
3                  40  United-States
4                  40           Cuba
5                  40  United-States
6                  16        Jamaica
7                  45  United-States
8                  50  United-States
9                  40  United-States
10                 80  United-States
11                 40          India
12                 30  United-States
13                 50  United-States
14                 40              ?
15                 45         Mexico
16                 35  United-States
17                 40  United-States
18                 50  United-States
19                 45  United-States
20                 60  United-States
21                 20  United-States
22                 40  United-States
23                 40  United-States
24                 40  United-States
25                 40  United-States
26                 40  United-States
27                 60          South
28                 80  United-States
29                 40  United-States
...               ...            ...
32531              99  United-States
32532              60  United-States
32533              50          Japan
32534              39  United-States
32535              35  United-States
32536              55  United-States
32537              46  United-States
32538              45  United-States
32539              10  United-States
32540              40  United-States
32541              32  United-States
32542              25  United-States
32543              48  United-States
32544              30  United-States
32545              20  United-States
32546              40  United-States
32547              40         Mexico
32548              60  United-States
32549              40  United-States
32550              50  United-States
32551              40  United-States
32552              45  United-States
32553              11         Taiwan
32554              40  United-States
32555              40  United-States
32556              38  United-States
32557              40  United-States
32558              40  United-States
32559              20  United-States
32560              40  United-States

[32561 rows x 7 columns]>

In [30]:
# 将所有需要替换的列一次性替换
cols = ['education','race','sex','native_country']
for col in cols :
    unique = data[col].unique()
    def convertstr2int(item):
        return np.argwhere(unique == item)[0,0]+1
    data[col] = data[col].map(convertstr2int)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [32]:
display(data)

       age  workclass  education  race  sex  hours_per_week  native_country
0       39          1          1     1    1              40               1
1       50          2          1     1    1              13               1
2       38          3          2     1    1              40               1
3       53          3          3     2    1              40               1
4       28          3          1     2    2              40               2
5       37          3          4     1    2              40               1
6       49          3          5     2    2              16               3
7       52          2          2     1    1              45               1
8       31          3          4     1    2              50               1
9       42          3          1     1    1              40               1
10      37          3          6     2    1              80               1
11      30          1          1     3    1              40               4
12      23          3          1     1    2              30               1
13      32          3          7     2    1              50               1
14      40          3          8     3    1              40               5
15      34          3          9     4    1              45               6
16      25          2          2     1    1              35               1
17      32          3          2     1    1              40               1
18      38          3          3     1    1              50               1
19      43          2          4     1    2              45               1
20      40          3         10     1    1              60               1
21      54          3          2     2    2              20               1
22      35          4          5     2    1              40               1
23      43          3          3     1    1              40               1
24      59          3          2     1    2              40               1
25      56          5          1     1    1              40               1
26      19          3          2     1    1              40               1
27      54          6          6     3    1              60               7
28      39          3          2     1    1              80               1
29      49          3          2     1    1              40               1
...    ...        ...        ...   ...  ...             ...             ...
32531   30          6          1     3    2              99               1
32532   34          3         10     1    1              60               1
32533   54          3          1     3    1              50              30
32534   37          3          6     1    2              39               1
32535   22          3         16     2    1              35               1
32536   34          3          1     1    2              55               1
32537   30          3          2     2    1              46               1
32538   38          3          1     2    2              45               1
32539   71          6         10     1    1              10               1
32540   45          1          2     1    2              40               1
32541   41          6          2     2    2              32               1
32542   72          6          2     1    1              25               1
32543   45          5          7     1    2              48               1
32544   31          3          4     5    2              30               1
32545   39          5          7     1    2              20               1
32546   37          3          7     1    2              40               1
32547   43          3          2     1    1              40               6
32548   65          2         11     1    1              60               1
32549   43          1          6     1    2              40               1
32550   43          2          6     1    1              50               1
32551   32          3         13     4    1              40               1
32552   43          3          8     1    1              45               1
32553   32          3          4     3    1              11              22
32554   53          3          4     1    1              40               1
32555   22          3          6     1    1              40               1
32556   27          3          7     1    2              38               1
32557   40          3          2     1    1              40               1
32558   58          3          2     1    2              40               1
32559   22          3          2     1    1              20               1
32560   52          7          2     1    2              40               1

[32561 rows x 7 columns]

In [33]:
data.head(5)

   age  workclass  education  race  sex  hours_per_week  native_country
0   39          1          1     1    1              40               1
1   50          2          1     1    1              13               1
2   38          3          2     1    1              40               1
3   53          3          3     2    1              40               1
4   28          3          1     2    2              40               2

In [41]:
x_train,x_test,y_train,y_test = train_test_split(data,target,test_size = 0.005)
x_test.shape

(163, 7)

In [42]:
knn = KNeighborsClassifier(n_neighbors=50)
knn.fit(x_train,y_train)
y_ = knn.predict(x_test)
y_

array(['>50K', '<=50K', '<=50K', '<=50K', '<=50K', '>50K', '<=50K',
       '>50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '>50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '>50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '>50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '>50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '>50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '>50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '>50K',
       '>50K', '<=50K', '<=50K', '>50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
       '<=50K', '<=50K', '<=50K', '<=50K', '>50K', '<=50K', '<=50K',
       '<=50K', '<=50K'], dtype=object)

In [43]:
knn.score(x_test,y_test)

0.7730061349693251

In [44]:
# 将当前算法保存
from sklearn.externals import joblib
joblib.dump(knn,'salary_50k')

['salary_50k']

In [45]:
salary_50k = joblib.load('./salary_50k')